backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "beer"
    label: "Beer Menu"
    label_singular: "Beer"
    files:
      - file: "data/beers.json"
        label: "All Beers"
        name: "all_beers"
        format: "json"
        fields:
          - label: "Beers"
            name: "beers"
            widget: "list"
            fields:
              - { label: "Poradi", name: "poradi", widget: "string" }
              - { label: "EPM", name: "epm", widget: "string" }
              - { label: "Nazev piva", name: "nazev", widget: "string" }
              - { label: "Nazev pivovaru", name: "nazev_pivovaru", widget: "string" }
              - { label: "Styl", name: "styl", widget: "styl" }
              - { label: "ABV", name: "avb", widget: "number", value_type: float }
              - { label: "Cena 0,4l", name: "cena04", widget: "number", value_type: float }
              - { label: "Cena 0,3l", name: "cena03", widget: "number", value_type: float }
